<!-- <div class="footer-widget">
        <h3 class="title">${properties.title}</h3>
        <ul data-sly-list.page="${properties.nav}">
            <sly dtat-sly-use.contentobj="${page}/jcr:content" />
            <li><a href="${page}.html">"${contentobj.jcr:title}</a></li>
        </ul>

<div class="contact-info"  data-sly-test="${properties.socailicons}">
   ${properties.txt @context='htmlt'}
    <div class="social">
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
    </div>
</div>
</div> -->
<div class="footer-widget">
    <h3 class="title">Useful Links</h3>
    <ul>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Pellentesque</a></li>
        <li><a href="#">Aenean vulputate</a></li>
        <li><a href="#">Vestibulum sit amet</a></li>
        <li><a href="#">Nam dignissim</a></li>
    </ul>
</div>
